## 일단 파일에서 데이터 불러오기

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/results.csv", encoding='cp949')
## 이게 그냥 하면 오류가 떠서 한글전용 인코딩 방식을 써야 하는구만. 근데 왜 이 파일에 한국어가있지?

In [3]:
df

,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,1993-94,1993-08-14T00:00:00Z,Arsenal,Coventry,0,3,A,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-94,1993-08-14T00:00:00Z,Aston Villa,QPR,4,1,H,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-94,1993-08-14T00:00:00Z,Chelsea,Blackburn,1,2,A,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-94,1993-08-14T00:00:00Z,Liverpool,Sheffield Weds,2,0,H,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-94,1993-08-14T00:00:00Z,Man City,Leeds,1,1,D,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10589,2020-21,2021-01-12T20:15:00Z,Burnley,Man United,0,1,A,0.0,0.0,D,...,0.0,7.0,3.0,4.0,15.0,13.0,1.0,2.0,0.0,0.0
10590,2020-21,2021-01-12T20:15:00Z,Wolves,Everton,1,2,A,1.0,1.0,D,...,3.0,3.0,6.0,5.0,6.0,11.0,2.0,2.0,0.0,0.0
10591,2020-21,2021-01-13T18:00:00Z,Man City,Brighton,1,0,H,1.0,0.0,H,...,6.0,1.0,8.0,4.0,4.0,12.0,0.0,2.0,0.0,0.0
10592,2020-21,2021-01-13T20:15:00Z,Tottenham,Fulham,1,1,D,1.0,0.0,H,...,6.0,4.0,6.0,5.0,13.0,15.0,1.0,2.0,0.0,0.0
10593,2020-21,2021-01-14T20:00:00Z,Arsenal,Crystal Palace,0,0,D,0.0,0.0,D,...,4.0,2.0,7.0,3.0,10.0,11.0,1.0,1.0,0.0,0.0

In [4]:
df.shape

(10594, 23)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10594 entries, 0 to 10593
Data columns (total 23 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Season    10594 non-null  object
 1   DateTime  10594 non-null  object
 2   HomeTeam  10594 non-null  object
 3   AwayTeam  10594 non-null  object
 4   FTHG      10594 non-null  int64
 5   FTAG      10594 non-null  int64
 6   FTR       10594 non-null  object
 7   HTHG      9670 non-null   float64
 8   HTAG      9670 non-null   float64
 9   HTR       9670 non-null   object
 10  Referee   7770 non-null   object
 11  HS        7770 non-null   float64
 12  AS        7770 non-null   float64
 13  HST       7770 non-null   float64
 14  AST       7770 non-null   float64
 15  HC        7770 non-null   float64
 16  AC        7770 non-null   float64
 17  HF        7770 non-null   float64
 18  AF        7770 non-null   float64
 19  HY        7770 non-null   float64
 20  AY        7770 non-null   float64
 21  HR        7770 non-null   float64
 22  AR        7770 non-null   float64
dtypes: float64(14), int64(2), object(7)
memory usage: 1.9+ MB

In [6]:
df.isna()

,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,False,False,False,False,False,False,False,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,False,False,False,False,False,False,False,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,False,False,False,False,False,False,False,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,False,False,False,False,False,False,False,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,False,False,False,False,False,False,False,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10589,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10590,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10591,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10592,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10593,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [7]:
df['Season'].value_counts()

1993-94    462
1994-95    462
2017-18    380
2019-20    380
2008-09    380
1997-98    380
2007-08    380
2002-03    380
1999-00    380
1996-97    380
2013-14    380
2011-12    380
2004-05    380
2006-07    380
2016-17    380
2000-01    380
2012-13    380
2015-16    380
2005-06    380
2018-19    380
1995-96    380
2001-02    380
1998-99    380
2003-04    380
2009-10    380
2014-15    380
2010-11    380
2020-21    170
Name: Season, dtype: int64